@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body, header, main, footer, nav, ul, li, h1, p, img {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  color: #000000;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
}

b{
  color: #326ef0;
}

a:hover{
  color: #326ef0;
}



nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 35px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  padding-top: 30px;
  padding-left: 30px;
  width: 70%;
  height: auto;
}

h10{
  color: white;
  font-size: 64px;
  padding-left: 40px;
  margin-top: 200px;
}

/****************************************************************************************/
.overlay {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 20%;
  height: 9.5%;
  background-color: rgba(0, 0, 0, 0.35);
}

.overlay-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #fff;
}

.overlay-content.active {
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
  font-family: 'Orbitron';
  font-size: 64px;
  margin-bottom: 10px;
}

/****************************************************************************************/

.hero {
  position: relative;
}

.hero2{
  position:relative;
}

.pic2 img{
  padding-left: 320px;
}

.overlay2 {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 10px;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.overlay-content2 {
  position: relative;
  z-index: 3;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.overlay-content2 h2 {
  margin-bottom: 10px;
}

.overlay-content2 p {
  margin-top: 5px;
}

.overlay-content2.active {
  background-color: rgba(0, 0, 0, 0.7);
}



/****************************************************************************************/

.overlay3 {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 20%;
  height: 9.5%;
  background-color: rgba(0, 0, 0, 0.35);
}

.overlay-content3 {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #fff;
}

.overlay-content3.active {
  background-color: rgba(0, 0, 0, 0.7);
}

/****************************************************************************************/

footer {
  background-color: #161616;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-section1 h3{
  padding: 5px;
  text-align: left;
  font-family: 'Orbitron';
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section1 p {
  text-align: left;
  font-family: 'Orbitron';
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-section {
  padding-left: 200px;
  flex: 1;
}

.footer-section h3 {
  font-family: 'Orbitron';
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section p {
  font-family: 'Orbitron';
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 10px;
  padding-left: 0px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #777;
  font-size: 20px;
}

.social-icons a:hover {
  color: #333;
}

/****************************************************************************************/

@media screen and (min-width: 1024px) {
  .overlay {
    width: 65%;
    height: 90%;
    left: 35%
  }
  .overlay-content{
    height: 85%;
  }

  .overlay2 {
    width: 60%;
    left: 30px;
    height: 90%;
  }
  .overlay-content2{
    height: 500px;
  }

  .overlay3 {
    width: 65%;
    left: 35%;
    height: 90%;
  }
  .overlay-content3{
    height: 500px;
  }


  h1 {
    font-size: 50px;
  }

  h11{
    font-size: 28px;
  }

  p{
    font-size: 20px;
  }

  p1{
    font-size: 18px;
  }

  h2 {
    font-size: 50px;
  }

  h22{
    font-size: 28px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .overlay {
    width: 70%;
    height: 95%;
    left: 30%;
  }
  .overlay-content{
    height: 80%;
  }

  .overlay2 {
    width: 50%;
    height: 90%;
  }
  .overlay-content2{
    padding-top: 20%;
    height: 350px;
  }

  .overlay3 {
    width: 70%;
    height: 95%;
    left: 30%;
  }
  .overlay-content3{
    height: 80%;
  }


  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }
  p{
    font-size: 10px;
  }

  footer{
    width: 94%;
  }

 
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .footer-section1 h3{
    padding: 5px;
    text-align: left;
    font-family: 'Orbitron';
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .footer-section1 p {
    text-align: left;
    font-family: 'Orbitron';
    padding: 5px;
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .footer-section {
    padding-left: 0px;
    flex: 1;
  }
  
  .footer-section h3 {
    text-align: left;
    padding-left: 30%;
    font-family: 'Orbitron';
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-family: 'Orbitron';
    padding: 13.5px;
    padding-left: 30%;
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    margin-top: 10px;
    padding-left: 30%;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #777;
    font-size: 20px;
  }

}

@media screen and (max-width: 767px) {
  a, b {
    font-size: 12px;
  }
  
  .overlay {
    width: 60%;
    height: 85%;
    left: 30%;
  }
  .overlay-content {
    height: 75%;
  }

  .overlay2 {
    width: 90%;
    height: 90%;
  }
  .overlay-content2 {
    padding-top: 8%;
    height: 350px;
  }

  .overlay3 {
    width: 60%;
    height: 85%;
    left: 30%;
  }
  .overlay-content3 {
    height: 75%;
  }

  h1 {
    font-size: 14px;
  }

  h2 {
    font-size: 12px;
  }

  h10 {
    font-size: 40px;
  }

  p {
    font-size: 8px;
  }

  footer{
    width: 90%;
  }

 
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .footer-section1 h3{
    padding: 5px;
    text-align: left;
    font-family: 'Orbitron';
    color: #ffffff;
    font-size: 8px;
    margin-bottom: 10px;
  }
  
  .footer-section1 p {
    text-align: left;
    font-family: 'Orbitron';
    padding: 5px;
    color: #ffffff;
    font-size: 8px;
    margin-bottom: 10px;
  }
  
  .footer-section {
    padding-left: 0px;
    flex: 1;
  }
  
  .footer-section h3 {
    text-align: left;
    padding-left: 10%;
    font-family: 'Orbitron';
    color: #ffffff;
    font-size: 8px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-family: 'Orbitron';
    padding: 13.5px;
    color: #ffffff;
    font-size: 8px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    margin-top: 10px;
    padding-left: 0px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #777;
    font-size: 20px;
  }

}

@keyframes pushAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

.hide-section {
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.push-animation {
  animation: pushAnimation 1s ease-out forwards;
  opacity: 0;
}